// COLOURS

$white: #ffffff;
$black: #000000;

$grey300: #c5c6ce;
$grey200: #d8d8d8;

$navy950: #00001a;
$navy600: #5e607a;

$gold400: #e9aa52; 

$red500: #f15d15;


// SPACING

$space-100: 0.5rem;
$space-150: 0.75rem;
$space-200: 1rem;
$space-250: 1.25rem;
$space-300: 1.5rem;
$space-400: 2rem;
$space-450: 2.25rem;
$space-500: 2.5rem;

$space-800: 4rem;

$space-1200: 6rem;