@use "base" as b;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@mixin txt-prst-1 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
    color: b.$navy950;
}
@mixin txt-prst-2 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: b.$navy950;
}

@mixin txt-prst-3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: b.$gold400;
}

@mixin txt-prst-4 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: b.$white;
}


@mixin txt-prst-5 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: b.$navy950;
}

@mixin txt-prst-6 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: b.$navy600;
}

@mixin txt-prst-7 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: b.$navy950;
    letter-spacing: 4.4px;
}

