@use "base" as b;
@use "mixins" as mx;

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

nav {
  width: 88%;
  margin-block-start: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;

  .logo {
    width: 2.75rem;
    height: 1.75rem;
  }

  @media (min-width: 32rem) {
    width: 75%;
  }

  @media (min-width: 60rem) {
    width: 82.5%;
  }

  .menu-button {
    z-index: 100;
    background-color: white;
    border: none;
    width: fit-content;
    min-height: 1.125rem;

    .menu-icon-close {
      display: none;
    }

    @media (min-width: 60rem) {
      display: none;
    }
  }

  .menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 55%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: b.$space-300;
    padding: b.$space-300;
    background-color: b.$white;
    @include mx.txt-prst-5;
    z-index: 75;

    button {
      border: none;
      background-color: b.$white ;
      text-align: left;
    }

    @media (min-width: 32rem) {
      width: 40%;
    }

    @media (min-width: 60rem) {
      transform: translateX(0);
      position: static;
      flex-direction: row;
      width: fit-content;
      color: b.$navy600;
      padding-inline: 0;
      gap: b.$space-500;

      button:hover {
        color: b.$red500;
        cursor: pointer;
      }
    }
  }

  button:first-child {
    margin-top: 6rem;

    @media (min-width: 60rem) {
      margin-top: 0;
    }
  }

  .show {
    transform: translateX(0);
  }
}

main {
  width: 88%;
  margin-block: b.$space-400;

  .cover-article {
    grid-area: 1 / 1 / 3 / 3;

    picture {
      grid-area: 1 / 1 / 2 / 3;
    }

    img {
      width: 100%;

      @media (min-width: 60rem) {
        height: 100%;
      }
    }

    .cover-heading {
      height: fit-content;
      max-width: fit-content;
      box-sizing: content-box;
      h1 {
        @include mx.txt-prst-2;
        margin-block: b.$space-300;
      }

      @media (min-width: 60rem) {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;
        h1 {
          @include mx.txt-prst-1;
          margin: 0;
        }
      }
    }

    p {
      @include mx.txt-prst-6;
      margin: 0;
    }

    button {
      @include mx.txt-prst-7;
      background-color: b.$red500;
      border: none;
      padding: b.$space-100 b.$space-400;
      margin-block-start: b.$space-300;
      max-width: fit-content;

      @media (min-width: 60rem) {
        padding-block: b.$space-150;
      }
    }

    @media (min-width: 60rem) {
      display: grid;
      grid-template: auto auto / 1fr 1fr;
      gap: b.$space-400;

      .cover-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: b.$space-300 b.$space-400;
        grid-area: 2 / 2 / 3 / 3;
      }

      button:hover {
        color: b.$white;
        background-color: b.$navy950;
        cursor: pointer;
      }
    }
  }

  .featured {
    background-color: b.$navy950;
    padding-block-start: b.$space-250;
    padding-inline: b.$space-300;
    margin-block: b.$space-800;
    grid-area: 1 / 3 / 3 / 4;

    h2 {
      @include mx.txt-prst-3;
      margin: 0;
    }

    .featured-article {
      padding-block: b.$space-400;
    }

    .featured-article:hover {
      @media (min-width: 60rem) {
        cursor: pointer;
        h3 {
          color: b.$gold400;
        }
      }
    }

    h3 {
      @include mx.txt-prst-4;
      margin-block-end: b.$space-100;
    }

    p {
      @include mx.txt-prst-6;
    }

    hr {
      border-color: b.$navy600;
    }

    @media (min-width: 32rem) {
      padding-block-start: b.$space-400;
      padding-inline: b.$space-500;
    }

    @media (min-width: 60rem) {
      margin-block: 0;
      padding-block-start: b.$space-400;
      padding-inline: b.$space-300;
    }
  }

  .article-list {
    display: flex;
    flex-direction: column;
    gap: b.$space-400;
    grid-area: 3 / 1 / 4 / 4;

    .article-item {
      display: flex;
      gap: b.$space-300;
      align-items: center;

      img {
        width: 6.25rem;
      }

      .article-content {
        h3 {
          @include mx.txt-prst-3;
          color: b.$red500;
        }

        h4 {
          @include mx.txt-prst-5;
          font-weight: 800;
          margin-block: b.$space-100;
        }

        p {
          @include mx.txt-prst-6;
        }

        @media (min-width: 60rem) {
          h3 {
            font-size: clamp(0.75rem, -1.0962rem + 2.8846vw, 1.5rem);
          }

          h4 {
            font-size: clamp(1rem, 0.3846rem + 0.9615vw, 1.25rem);
          }

          p {
            font-size: clamp(0.75rem, 0.1346rem + 0.9615vw, 1rem);
          }
        }
      }
    }

    @media (min-width: 60rem) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      gap: b.$space-400;

      .article-item:hover {
        cursor: pointer;
        .article-content {
          h4 {
            color: b.$red500;
          }
        }
      }
    }
  }

  @media (min-width: 32rem) {
    width: 75%;
  }

  @media (min-width: 60rem) {
    width: 82.5%;
    display: grid;
    grid-template: max-content / 1fr 1fr 1fr;
    gap: b.$space-800 b.$space-400;
  }
}

.backdrop-filter {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: b.$black;
  opacity: 65%;
  z-index: 50;
}
